.mc-crop-shade {
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.65);
	position: relative;
	z-index: 4;
}

.mc-crop-box {
	background: none;
	position: absolute;
	z-index: 5;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.mc-cropper-box {
	border: 1px dashed rgb(0,174,239);
	border-color: rgba(0,174,239,0.7);
	opacity: 0.7;
	position: absolute;
	z-index: 6;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.mc-cropper-box:hover { opacity: 1.0; }

.mc-cropper-wrap { cursor: move; position: relative; z-index: 7; }

.mc-cb-handle {
	background: rgb(0,174,239);
	background: rgba(0,174,239,1);
	height: 8px;
	position: absolute;
	width: 8px;
}

.mc-cb-tl { cursor: nw-resize; left:  -4px; top:    -4px; }
.mc-cb-tr { cursor: sw-resize; right: -4px; top:    -4px; }
.mc-cb-bl { cursor: ne-resize; left:  -4px; bottom: -4px; }
.mc-cb-br { cursor: se-resize; right: -4px; bottom: -4px; }